<div class="navbar-krypton">
<p class="navbar-krypton-logo"> KRYPTON</p>

  <div class="navbar-right-content">
    <ul class="list-inline">
      <li class="list-inline-item">Rent a superhero</li>
      <li class="list-inline-item">Lend a superhero</li>
      <li class="list-inline-item">Sign up</li>
      <li class="list-inline-item">Log in</li>
    </ul>
  </div>
</div>

