  .banner-krypton {
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 40px);
  }

  .banner-show {
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    border-bottom: 1px solid white;
  }
