// .button-krypton {

//   color: white;
//   text-decoration: none;
//   font-weight: bold;
//   padding: 15px 20px;
//   border-radius: 5px;
//   &:hover.button-krypton {
//     background-color: #00ff59;
//     text-decoration: none;
//     color: white;
//   }
// }

.button-krypton {
  background-color: #1cd760 !important;
  color: white !important;
  text-decoration: none !important;
  font-weight: bold !important;
  padding: 15px 20px !important;
  border-radius: 5px !important;
  border: 0 !important;
  &:hover.button-krypton {
    background-color: #00ff59 !important;
    text-decoration: none !important;
    color: white !important;
  }
}

