a.button-krypton {
  background-color: #1cd760;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover.button-krypton {
  background-color: #00ff59;
  text-decoration: none;
  color: white;
}

.button-krypton {
   padding: 15px 20px;
   border-radius: 5px;
}
