.cards-superheroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-superhero{
  margin: 10px;
  img {
  width: 300px;
  }
  p, h5{
    margin: 0;
  }
}

.green-color {
color: #1cd760;
}


.card-superhero-content {
padding: 10px;
  h5 {
    font-weight: bold;
  }
  p {
    font-size: 15px;
  }
}

