.navbar-krypton {
color: white;
background: transparent;
padding: 10px;
top: 0;
position: sticky;
display: flex;
justify-content: space-between;
align-items: center;
margin: 0;
transition: 0.5s background-color ease;
z-index: 9999;
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
  color: #00ff59;
  }
}
.navbar-krypton-white {
  background-color: white;
  z-index: 9999;
  a {
    color: black;
  }
  a:hover {
    color: #00ff59;
  }
}

.navbar-krypton-logo {
  margin: 0;
  font-size: 30px;
  font-weight: bolder;
}

.navbar-right-content ul {
  margin: 0;
  li {
    margin-left: 15px;
  }

}


