.card-krypton-booking {
  width: 600px;
  border: 1px #1cd760 solid;
  margin: 40px auto;
  position: relative;

}
.card-krypton-booking-img {
  h1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #1cd760;
    padding: 5px;
    font-weight: bold;
  }
  img {
    width: 100%;
    height: 300px;
    box-sizing: none;
    object-fit: cover;
  }
}

.card-upper-content {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
}

.card-lower-content{
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
}

.flexbox-cards-krypton {
  display: flex;
  justify-content: space-around;
}


#tags-bookings {
  border: 1px white solid;
  padding: 15px 25px;
  text-align: center;
}
